<p>DECLARACI&Oacute;N DE PRIVACIDAD</p>
<p><br></p>
<p>----</p>
<p><br></p>
<p>SECCI&Oacute;N 1 - &iquest;QU&Eacute; HACEMOS CON TU INFORMACI&Oacute;N?</p>
<p><br></p>
<p>Cuando compras algo de nuestra tienda, como parte del proceso de compra venta, nosotros recolectamos la informaci&oacute;n personal que nos</p>
<p><br></p>
<p>das tales como nombre, direcci&oacute;n y correo electr&oacute;nico.</p>
<p><br></p>
<p>Cuando navegas en nuestra tienda, tambi&eacute;n recibimos de manera autom&aacute;tica la direcci&oacute;n de protocolo de internet de tu computadora (IP)</p>
<p><br></p>
<p>con el fin de proporcionarnos informaci&oacute;n que nos ayuda a conocer acerca de su navegador y sistema operativo.</p>
<p><br></p>
<p>Email marketing (if applicable): Con tu permiso, podremos enviarte correos electr&oacute;nicos acerca de nuestra tienda, nuevos productos y otras actualizaciones</p>
<p><br></p>
<p><br></p>
<p>SECTION 2 - CONSENTIMIENTO</p>
<p><br></p>
<p>C&oacute;mo obtienen mi consentimiento?</p>
<p><br></p>
<p>Cuando nos provees tu informaci&oacute;n personal para completar una transacci&oacute;n, verificar tu tarjeta de cr&eacute;dito, crear una &oacute;rden, &nbsp;concertar un env&iacute;o o hacer una devoluci&oacute;n, implicamos que aceptas la recolecci&oacute;n y uso por esa raz&oacute;n espec&iacute;fica solamente.</p>
<p><br></p>
<p>Si te pedimos tu informaci&oacute;n personal por una raz&oacute;n secundaria, como marketing, te pediremos directame tu expreso consentimiento, o te daremos la oportunidad de negarte.</p>
<p><br></p>
<p>&iquest;C&oacute;mo puedo anular mi consentimiento&Ccedil;</p>
<p><br></p>
<p>Si luego de haber aceptado cambias de opini&oacute;n, puedes anular tu consentimiento para que te contactemos, por la recolecci&oacute;n, uso o divulgaci&oacute;n de tu informaci&oacute;n, en cualquier momento, contact&aacute;ndonos a francoevl92@gmail.com o escribi&eacute;ndonos a: red-bicicletas 9 de Julio 555, San Miguel de Tucum&aacute;n, T, 4000, Argentina</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 3 - DIVULGACI&Oacute;N</p>
<p><br></p>
<p>Podemos divulgar tu informaci&oacute;n personal si se nos requiere por ley o si violas nuestros T&eacute;rminos de Servicio.</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 4 - SHOPIFY</p>
<p><br></p>
<p>Nuestra tienda se encuentra alojada en Shopify Inc. Ellos nos proporcionan la plataforma de comercio electr&oacute;nico en l&iacute;nea que nos permite venderte nuestros productos y servicios.</p>
<p><br></p>
<p>Tus datos se almacenan a trav&eacute;s del almacenamiento de datos de Shopify, bases de datos y la aplicaci&oacute;n general de Shopify. Tus datos se almacenan en un servidor seguro detr&aacute;s de un firewall.</p>
<p><br></p>
<p>Payment:</p>
<p><br></p>
<p>Si eliges una pasarela de pago directo para completar tu compra, entonces Shopify almacena datos de tu tarjeta de cr&eacute;dito. Est&aacute; cifrada a trav&eacute;s de la Seguridad Standard de Datos de la Industrai de Tarjetas de Pago (PCI-DSS). Tus datos de transacci&oacute;n de compra se almacenan s&oacute;lo en la medida en que sea necesario para completar la transacci&oacute;n de compra. Despu&eacute;s de que se haya completado, se borra la informaci&oacute;n de su transacci&oacute;n de compra.</p>
<p><br></p>
<p>Todas las pasarelas de pago directo se adhieren a los est&aacute;ndares establecidos por PCI-DSS como lo indicado por el Consejo de Normas de Seguridad de PCI, que es un esfuerzo conjunto de marcas como Visa, MasterCard, American Express y Discover.</p>
<p><br></p>
<p>Los requisitos del PCI-DSS ayudan a garantizar el manejo seguro de la informaci&oacute;n de tarjetas de cr&eacute;dito de las tiendas y sus proveedores de servicios.</p>
<p><br></p>
<p>Para una visi&oacute;n m&aacute;s clara, es posible que tambi&eacute;n desees leer las Condiciones de servicio de Shopify aqu&iacute; o Declaraci&oacute;n de privacidad aqu&iacute;.</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 5 - SERVICES DE TERCERAS PARTES</p>
<p><br></p>
<p><br></p>
<p>En general, los proveedores de terceras partes utilizados por nosotros solo recopilar&aacute;n, usar&aacute;n y divulgar&aacute;n tu informaci&oacute;n en la medida que sea necesaria para que les permita desempe&ntilde;ar los servicios que nos proveen.</p>
<p><br></p>
<p>Sin embargo, algunos proveedores de servicios de terceros, tales como pasarelas de pago y otros procesadores de transacciones de pago, tienen sus propias poli&iacute;ticas de privacidad con respecto a la informaci&oacute;n que estamos obligados a proporcionarles para las transacciones relacionadas con las compras.</p>
<p><br></p>
<p>Para estos proveedores, te recomendamos que leas las poli&iacute;ticas de privacidadpara que puedas entender la manera en que tu informaci&oacute;n personal ser&aacute; manejada.</p>
<p><br></p>
<p>En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones que se encuentran en una jurisdicci&oacute;n diferente a ti o nosotros. &nbsp;Asique si deseas proceder con una transacci&oacute;n que involucra los servicios de un proveedor a terceros, tu informaci&oacute;n puede estar sujeta a las leyes de la jurisdicci&oacute;n (jurisdicciones) en que se encuentra el proveedor de servicios o sus instalaciones.</p>
<p><br></p>
<p>A modo de ejemplo, si te encuentras en Canad&aacute; y tu transacci&oacute;n es procesada por una pasarela de pago con sede en Estados Unidos, entonces tu informaci&oacute;n personal utilizada para completar la transacci&oacute;n puede ser sujeto de divulgaci&oacute;n en virtud de la legislaci&oacute;n de Estados Unidos, incluyendo la Ley Patriota.</p>
<p><br></p>
<p>Una vez que abandonas el sitio web de nuestra tienda o te rediriges a un sitio o aplicaci&oacute;n de terceros, ya no est&aacute;s siendo regulados por la presente Pol&iacute;tica de Privacidad o los T&eacute;rminos de Servicio de nuestra p&aacute;gina web.</p>
<p><br></p>
<p>Enlaces</p>
<p><br></p>
<p>Cuando haces clic en enlaces de nuestra tienda, puede que seas redirigido fuera de nuestro sitio. &nbsp;No somos reponsables por las pr&aacute;cticas de privacidad de otros sitios y te recomendamos leer sus normas de privacidad.</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 6 - SEGURIDAD</p>
<p><br></p>
<p>Para proteger tu informaci&oacute;n personal, tomamos precauciones razonables y seguimos las mejores pr&aacute;cticas de la industria para asegurarnos de que no haya p&eacute;rdida de manera inapropiada, mal uso, acceso, divulgaci&oacute;n, alteraci&oacute;n o destrucci&oacute;n de la misma.</p>
<p><br></p>
<p>SI nos proporcionas la informaci&oacute;n de tu tarjeta de cr&eacute;dito, dicha informaci&oacute;n es encriptada mediante la tecnolog&iacute;a Secure Socket Layer (SSL) y se almacena con un cifrado AES-256. &nbsp;Aunque ning&uacute;n m&eacute;todo de transmisi&oacute;n a trav&eacute;s de Internet o de almacenamiento electr&oacute;nico es 100% seguro, seguimos todos los requisitos de PCI-DSS e implementamos normas adicionales aceptadas por la industria.</p>
<p>COOKIES</p>
<p><br></p>
<p>Aqu&iacute; tienes una lista de cookies que utilizamos. Las enlistamos para que puedas elegir si quieres optar por quitarlas o no.</p>
<p><br></p>
<p>_session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc).</p>
<p><br></p>
<p>_shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider&rsquo;s internal stats tracker to record the number of visits</p>
<p><br></p>
<p>_shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer.</p>
<p><br></p>
<p>cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.</p>
<p><br></p>
<p>_secure_session_id, unique token, sessional</p>
<p><br></p>
<p>storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access.</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 7 - EDAD DE CONSENTIMIENTO</p>
<p><br></p>
<p>Al utilizar este sitio, declaras que tienes al menos la mayor&iacute;a de edad en tu estado o provincia de residencia, o que tienes la mayor&iacute;a de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.</p>
<p><br></p>
<p><br></p>
<p>SECCI&Oacute;N 8 - CAMBIOS A ESTA POL&Iacute;TICA DE PRIVACIDAD</p>
<p><br></p>
<p>Nos reservamos el derecho de modificar esta pol&iacute;tica de privacidad en cualquier momento, asique por favor rev&iacute;sala frecuentemente. &nbsp;Cambios y aclaraciones entrar&aacute;n en vigencia inmediatamente despu&eacute;s de su publicaci&oacute;n en el sitio web. &nbsp;Si hacemos cambios materiales a esta pol&iacute;tica, notificaremos aqu&iacute; que ha sido actualizada, por lo que cual est&aacute;s enterado de qu&eacute; informaci&oacute;n recopilamos, c&oacute;mo y bajo qu&eacute; circunstancias, si las hubiere, la utilizamos y/o divulgamos.</p>
<p><br></p>
<p>Si nuestra tienda es adquirida o fusionada con otra empresa, tu informaci&oacute;n puede ser transferida a los nuevos propietarios, para que podamos seguir vendi&eacute;ndote productos.</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p>PREGUNTAS E INFORMACI&Oacute;N DE CONTACTO</p>
<p><br></p>
<p>Si quieres: acceder, corregir, enmendar o borrar cualquier informaci&oacute;n personal que poseamos sobre ti, registrar una queja, o simplemente quieres m&aacute;s informaci&oacute;n contacta a nuestro Oficial de Cumplimiento de Privacidad francoevl92@gmail.com o por correopostal a red-bicicletas</p>
<p><br></p>
<p>[Re: Privacy Compliance Officer]</p>
<p><br></p>
<p>[9 de Julio 555, San Miguel de Tucum&aacute;n, T, 4000, Argentina]</p>
<p><br></p>
<p>----</p>