extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1= `Visualizando Bicicleta ${bici.id}`

    br
    br

    label(for='id') Id:
    input#id(type='text' name='id' value=bici.id disabled)
    br
    label(for='color') Color
    input#color(type='text' name='color' value=bici.color disabled)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=bici.modelo disabled)
    br
    label(for='lat') Latitud:
    input#modelo(type='text' name='lat' value=bici.ubicacion[0] disabled)
    br
    label(for='lng') Longitud:
    input#modelo(type='text' name='lng' value=bici.ubicacion[1] disabled)